#colordefondo {
  background: url(../img/food.png), #d6b750;
}

h1 {
  font-size: 90px;
  font-weight: 800;
  line-height: 110px;
}
h2 {
  font-size: 45px;
  margin-bottom: 30px;
}
section {
  padding: 30px 0;
}
#transparencia {
  background: rgba(255, 255, 255, 0.7);
}
#transparencia2 {
  background: rgba(70, 70, 70, 0.3);
}
/* .zoom-fotos img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.zoom-fotos:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} */
#logo {
  width: 50px;
}

#inicio {
  width: 100%;
  height: 400px;
  background-image: url(/img/inicio.jpg);
  background-size: 100% 100%;

  background-size: cover;
  padding-top: 76px;
  min-height: 0px;
  /*color: white;*/
}

.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}
